.grid {
    transition: background-color 0.2s ease;
    height: 15px;
    width: 15px;
}

.row {
    display: flex;
    flex-direction: row;
}

body {
    display:flex;
    justify-content: center;
}

#container {
    margin-top: 100px;
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e0e0e0; /* Light border color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Darker shadow */
    border-radius: 10px;
    overflow: hidden; 
}